.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .top {
    padding: 1rem;
    background: url('./2021-12-03-17-02-45_0.png');
    width: 100%;
    text-align: center;
  }

  .Selection {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    flex-direction: row;

  .card {
      text-align: center;
      background-color: darkblue;
      width: 100%;
      border: 10px solid rgb(255, 254, 254);

  .select {
       background-color: forestgreen; 
       width: 100%;
       display: flex;
       justify-content: center;
       
      }
    }
  }
}
